

#personal-info-container {
    /*border: 3px solid yellow;*/
    display: grid;
    /*grid-template-columns: repeat(3, auto);*/
    grid-template-columns: max-content max-content auto;
    grid-template-rows: repeat(2, auto);
    row-gap: 0.5em;
    background-color: var(--personal-card-bg);
}

.personal-info-title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    line-height: 1.2em !important;
    color: var(--personal-info-title);
    font-weight: 500;
    /*margin-bottom: 2%;*/


}

.personal-info-content {
    color: black;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 1.2em !important;
    font-weight: 367;
    margin-bottom: 2%;


}

.personal-info-reveal {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    line-height: 1.2em !important;
    color: #5773FA;
    margin-left: 20%;

}

.personal-info-reveal:hover {
    border-bottom: 0.1em solid #5773FA;
}

.personal-info-edit-btn {
    color: black;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    line-height: 1.2em !important;
    justify-self: right;

}
