.default-page-container{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: min-content auto;
    max-height: 100vh;
}

.reports-content-section{
    background: var(--light-gray);
    max-height: 100vh;
    overflow-y: auto;
    padding: 3%;
}


.reports-content-grid{
    display: grid;
    margin: 0;
    padding-right: 6%;
    grid-template-columns: repeat( auto-fit, minmax(250px, auto) );
    /*grid-auto-rows: minmax(150px, auto);*/
    grid-auto-rows: 100px;
    height: auto;
    padding-bottom: 6%;
    grid-gap: 5%;
    row-gap: 30px;
}

.reports-content-grid .report-card{
    background: white;
    margin: 0;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 4px 6px 8px 0;
    /*border: solid 2px var(--border-color);*/
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 4fr auto;
}
.report-card .text-container{
    padding: 8px;
}

.report-card>*{
    margin-top: auto;
    margin-bottom: auto;
}

.report-card .report-title{
    font-size: 16px;
    font-weight: 600;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--dodger-blue);
    cursor: default;
}

.report-card .report-date{
    color: var(--simple-card-title-color);
    font-weight: 600;
    cursor: default;
}

.main-preview-container{
    min-width: 400px;
    min-height: 400px;
    margin:auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    border-radius: 5px;
    background: white;
    /*padding: 20px;*/
    background: var(--light-gray);
    grid-gap: 20px;
    max-height: inherit;
    width: auto;
    overflow-y: hidden;
    overflow-x: hidden;

}

.main-preview-container>.title-bar{
    display:grid;
    grid-template-columns: auto 40px;
}

.main-preview-container .children-div{
    max-height: calc( 100vh - 200px);
    overflow-y: scroll;
}

/*.loader{*/
/*    background:url("../../assets/loader.gif") center center no-repeat;*/
/*}*/



