.simple-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 10px;
    font-weight: 500;
    column-gap: 10px;
    border-radius: 25px;
    background: white;
    color: black;
    border: 1px solid var(--dodger-blue);
}

.simple-btn-icon {
    width: 20px;
    height: 20px;
    color: var(--dodger-blue);
}

.simple-btn-hover:hover {
    color: white !important;
    background: var(--dodger-blue);
}



