:root {
    /*Blues*/
    --neon-blue: #5773FA;
    --dodger-blue: #339CFF;
    --azure: #007AF5;
    --prussian-blue: #0E2A42;
    --blue-green: #208AAE;
    --dark-blue-green: #013737;
    --bright-blue: #00BEFF;

    /*blacks*/
    --black-coral: #535C6F;

    /*Whites*/
    /*Ghost white looks like a bluish white*/
    --light-blue-white-bg: #F2F6FC;
    --dark-blue-white-bg: #bed4ff;
    --white-border-color: #D6D6D6;

    /*Dark mode*/
    --light-black: #1E2022;
    --dark-black: #181A1B;
    --black-border: #333739;
    --pink: #E80057;
    --dark-pink: rgba(232, 0, 87, 0.31);

    /*Landing Page*/
    --lp-dark-theme-bg: #1E2022;
    --lp-dark-theme-color: #E80057;
    --lp-dark-theme-small-text-color: #e3e3e3 ;
    --lp-white-theme-bg: #fff;
    --lp-white-theme-color: #CA0586;
    --lp-white-theme-small-text-color: var(--light-black);



    --amount-increasing: #00b074;
    --grey-border-color: #e3e3e3;
    --simple-card-title-color: darkgrey;
    --cultured: #f9fbfc;
    /*******************************/
    /********Profile Page***********/
    /*******************************/
    /*Personal Info Card*/
    --personal-card-bg: #efefef;
    --personal-info-title: #737373;
    --profile-background: #E8E8E9;

    /* charts page */
    --border-color: lightgrey;

    /* login and registration */
    --green-blue-background: #35a4b2;


    /* settings page */
    --black-border-color: black;
    --green-blue-title: #35a4b2;

    --heart-icon-bg-hover: #FFADAD;

}
