:root {
    /*Blues*/
    --neon-blue: #5773FA;
    --dodger-blue: #339CFF;
    --azure: #007AF5;
    --prussian-blue: #0E2A42;

    /*blacks*/
    --black-coral: #535C6F;

    /*Whites*/
    /*Ghost white looks like a bluish white*/
    --ghost-white: #F2F6FC;
    --white-border-color: #D6D6D6;


    /*--light-gray: #f4f7fc;*/
    --light-gray: #F1F2F8;
    --amount-increasing: #00b074;
    --grey-border-color: #e8e8e9;
    --simple-card-title-color: darkgrey;
    --cultured: #f9fbfc;
    /*******************************/
    /********Profile Page***********/
    /*******************************/
    /*Personal Info Card*/
    --personal-card-bg: #efefef;
    --personal-info-title: #737373;
    --profile-background: #E8E8E9;

    /* charts page */
    --border-color: lightgrey;

    /* login and registration */
    --green-blue-background: #35a4b2;


    /* settings page */
    --black-border-color: black;
    --green-blue-title: #35a4b2;

}
