#profile-card-container {
    /*grid-row-start: 1;*/
    /*grid-row-end: 2;*/
    /*border: 1px solid red;*/
    /*border:0;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3em auto;
}

.profile-card-title {
    color: var(--neon-blue);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em !important;
    /*border: 1px solid black*/
}

.profile-card-body {
    /*border: 2px solid green;*/
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    background-color: white;
    border-radius: 0.9em;
    padding-bottom: 4%;
}
