@import '~antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
    background: #efefef;
}


.content-wrapper {
    border: 3px solid red;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}


.code-box-demo {
    text-align: center;
}

/*************************************************************/
/************************ Header *****************************/
/*************************************************************/
.ant-layout-header {
    background: lightgrey;
    height: 206px;
    padding: 0 1%;
    border: 1px solid red;
}

.ant-layout-content {
    min-height: 120px;
    color: #fff;
    line-height: 120px;
    background: lightgrey;
}

/*Footer*/
.ant-layout-footer {
    line-height: 1.5;
    color: black;
    background: lightgrey;

}

.ant-layout-sider {
    color: #fff;
    line-height: 120px;
    /*background: #3ba0e9;*/
}


> .code-box-demo > .ant-layout + .ant-layout {
    margin-top: 48px;
}

/*Color of a Menu Item When Selected*/
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: deeppink;
}


/*************************************************************/
/****************** Dark Theme Settings **********************/
/*************************************************************/
/*Color of the menu items(The drop Down menu Items)*/
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    color: rgb(252, 0, 64);
    background: black;
}

[data-theme="dark"] .ant-layout-sider {
    /*background: #3499ec;*/

}

[data-theme="dark"] .ant-layout-content {
    background: #107bcb;
}


/* The Collapse/Expand Trigger(arrow) at the bottom of the SideBar*/
.ant-layout-sider-trigger {
    background: black;
}

#outer_layout {
    min-height: 100vh;
    background: black;
}

#logo {
    height: 32px;
    margin: 16px;
    /*background: rgb(252, 0, 64);*/
    background: transparent;
    line-height: 3px;
    /*border: 3px solid #f44336;*/
}

[data-theme="dark"] .ant-layout-header {
    background: #107bcb;
}

[data-theme="dark"] .ant-layout-footer {
    background: #6aa0c7;
}

/*************************************************************/
/********************* Sidebar  ***************************/
/************Found in the top right corner********************/
#sidebar_div {
    background: #95DBB6;
}

#sidebar_menu {
    background: transparent;
    color: white;
    border: 0;
}

#sidebar_menu > li {
    padding-left: 24px;
    /*border: 2px solid red;*/
    width: 174px;
    margin-left: 12px;
    margin-right: 0px;
    margin-bottom: 14px;
    margin-top: 8px;
    padding-right: 24px;
    border-radius: 6px;
    padding-bottom: 11px;
    padding-top: 10px;
    height: 45px;
    background: transparent;
}

/*When a Sidebar Menu item when it has been selected(clicked)*/
#sidebar_menu > li.ant-menu-item-selected {
    border: 0;
    background: #15B761;
    color: white;
}

/*When a Sidebar Menu item when it has been Hovered over*/
#sidebar_menu > li.ant-menu-item-active {
    border: 0;
    color: #15B761;
}

/*Hovering over a menu item that has been selected*/
#sidebar_menu > li.ant-menu-item-active.ant-menu-item-selected {
    border: 0;
    color: white;
}


/**/
#sidebar_menu > li.ant-menu-item::after {
    border: 0;
    color: white;
}


/*************************************************************/
/********************* User Avatar  Card ***************************/
/************Found in the top right corner********************/
#user_avatar_card {
    bottom: -50vh;
    height: 11%;
    /* color: black; */
    background: #15B761;
    border: 0;
    /*border: 2px solid red;*/
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 6px;

}

#user_avatar_card > .ant-card-body {
    padding: 0;
    border: 0;
    border-radius: 6px;
    background: transparent;
}

#user_avatar_pic {
    /*border: 2px solid black;*/
    color: white;
    background: orange;
    float: left;
    width: 39px;
    height: 39px;
    line-height: 1.5715;
    font-size: 16px;
    border-radius: 12%;
    margin-left: 4px;
}

#meta_id {
    /* border: 2px solid red; */
    float: left;
    width: 78%;
    height: 100%;
    background: #04aa6d00;
    border: 0;

}

.ant-card-meta {
    /*border: 2px solid blue;*/
    margin: 0;
    background: transparent;
    border: 0;

}

/*The div wrapping the users avatar*/
#meta_id > .ant-card-meta-avatar {
    float: left;
    padding-right: 8px;
    margin-top: 18px;
    background: transparent;
    border: 0;
}

/*The div for the users Name and a description*/
#meta_id > .ant-card-meta-detail {
    float: left;
    justify-content: left;
    /*margin-top: 19px;*/
    background: transparent;
    border: 0;

}

/*The users' Name*/
#meta_id > .ant-card-meta-detail > .ant-card-meta-title {
    color: white;
    border: 0;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 25px;
    background: transparent;
    border: 0;

}

/*The grey out section underneath the name*/
#meta_id > .ant-card-meta-detail > .ant-card-meta-description {
    font-size: 11px;
    height: 17px;
    width: 12px;
    color: #9c9494;
    background: #04AA6D;


}

/*The ellipsis button*/
#exit_menu_button {
    /*border: 1px solid green;*/
    border: 0;
    font-size: 0;
    float: right;
    transform: rotate(
            90deg
    );
    margin-top: 24px;
    width: 31px;
    height: 23px;
    padding: 0 0;
    background: transparent;
}

#exit_menu_button > .exit_menu_ellipsis_icon > svg {
    color: white;
    background: transparent;

}


/*************************************************************/
/********************* Search Bar ***************************/
/********************* Found in header ********************/
#search_input {
    /*border-bottom: 1px solid red;*/
    padding: 5px;
    padding-left: 6px;
    margin: 0;
    border: 2px solid transparent;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

#search_input:hover{
    border-left: 2px solid #15B761;
    border-bottom: 2px solid #15B761;
    border-top: 2px solid #15B761;
    border-right: 2px solid transparent;
}

/* While the search Input is still with the cursor in it*/
#search_input:focus{
    border-left: 2px solid #15B761;
    border-bottom: 2px solid #15B761;
    border-top: 2px solid #15B761;
    border-right: 2px solid transparent;
}


#search_input ::selection {
    color: #fff;
    background: springgreen;
}


#search_input:focus {
    box-shadow: none;
}


#top_bar > .ant-input-search {
    /*border: 2px solid black;*/
    border: 0;
    width: 300px;
    float: right;
    margin-top: 15px;
}

#top_bar > .ant-input-search > .ant-input-group {
    border: 2px solid lightgrey;
    /*border: 0;*/
    padding: 5px;
    border-radius: 11px;
}


#top_bar > .ant-input-search > .ant-input-group > .ant-input-affix-wrapper {
    border: 3px solid blue;
    padding-right: 4px;
    padding-left: 4px;
}

/*The div that contains the search Button i.e its parent*/
#top_bar > .ant-input-search > .ant-input-group > .ant-input-group-addon {
    /*BORDER: 2PX SOLID YELLOW;*/
    border: 0;
    left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 2px solid transparent;
}
/*When Hovering over The div that contains the search Button i.e its parent*/
#top_bar > .ant-input-search > .ant-input-group > .ant-input-group-addon:hover {
    /*BORDER: 2PX SOLID YELLOW;*/
    border: 0;
    left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 2px solid #15B761;
    border-top: 2px solid #15B761;
    border-right: 2px solid #15B761;
}

/* The button that contains the search icon*/
#top_bar > .ant-input-search > .ant-input-group > .ant-input-group-addon > .ant-input-search-button {
    /*border-bottom: 1px solid red;*/
    border: 0;
    border-radius: 12%;
    /*--antd-wave-shadow-color: none;*/
}


#root {
    background: lightgrey;
}


