
body{
    margin: 0;
    padding: 0;
    background: #efefef;
}

div.search_bar{
    grid-area: 1/1 /span 1 / span 10;
}

form.search-form button {

    width: 10%;
    border-radius: 0 5px 5px 0;
    padding-left: 3%;
}

form {
    border: 3px solid #f1f1f1;
    padding-left: 3%;
    border-radius: 5px;
}


#header-search{
    width: 88%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}


#search_btn {
    background-color: #04AA6D;
    color: white;
    padding: 13px 20px;

    margin: 8px 0 8px -3%;
    border: none;
    cursor: pointer;

    width: 10%;

    border-radius: 0 5px 5px 0;
}