div.graph_list{
	display: grid;
	height: 100vh;
	padding: 10px;
	grid-gap: 20px;
	grid-template: repeat(1, 1fr)/ 100px 90px;

}

#graph_list_div{
	border: none

}

div.graph_list div{
	background: white;
	border: none;
	border-radius: 5px;
}
