/*************************************************************/
/********************* Search Bar ***************************/
/********************* Found in header ********************/
#search_input {
    border-bottom: 1px solid red;
    /*padding: 5px;*/
    /*padding-left: 6px;*/
    margin: 0;
    /*border: 2px solid transparent;*/
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    overflow: hidden;
}

/*#search_input:hover{*/
/*    border-left: 2px solid #15B761;*/
/*    border-bottom: 2px solid #15B761;*/
/*    border-top: 2px solid #15B761;*/
/*    border-right: 2px solid transparent;*/
/*}*/

/*!* While the search Input is still with the cursor in it*!*/
/*#search_input:focus{*/
/*    border-left: 2px solid #15B761;*/
/*    border-bottom: 2px solid #15B761;*/
/*    border-top: 2px solid #15B761;*/
/*    border-right: 2px solid transparent;*/
/*}*/


/*#search_input ::selection {*/
/*    color: #fff;*/
/*    background: springgreen;*/
/*}*/


/*#search_input:focus {*/
/*    box-shadow: none;*/
/*}*/


#top-bar-container > .ant-input-search {
    /*border: 2px solid black;*/
    border: 0;

    height: 50px;
    width: 160px;
    /*float: left;*/
    position: relative;
    /*margin-left: 7%;*/

    /* Vertically Aligning it the middle*/
    /*top: 50%;*/
    /*-ms-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    border-radius: 25px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

span.ant-input-wrapper.ant-input-group {
    /*border: 2px solid black;*/
    border-radius: 10px;
    padding: 2%;
    background-color: var(--dark-black);
    height: inherit;
}

/*The actual inside of the search
* Color = color of the text when it is being searched
*/
#top-bar-container > .ant-input-search > .ant-input-group > input.ant-input {
    /*border: 2px solid lightgrey;*/
    border: 0;
    padding: 5px;
    /*border-radius: 15%;*/
    background-color: var(--dark-black);
    height: inherit;
    color: white;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: right;
    width: 80%;
}

#top-bar-container > .ant-input-search > .ant-input-group > input.ant-input:focus {
    border: 0;
    box-shadow: none;
}


/*#top-bar-container > .ant-input-search > .ant-input-group > .ant-input-affix-wrapper {*/
/*    border: 3px solid blue;*/
/*    padding-right: 4px;*/
/*    padding-left: 4px;*/
/*}*/

/*The div that contains the search Button i.e its parent*/
#top-bar-container > .ant-input-search > .ant-input-group > .ant-input-group-addon {
    /*BORDER: 2PX SOLID YELLOW;*/
    height: inherit;
    border: 0;
    /*left: 0;*/
    float: left;
    box-shadow: none;
    background: var(--dark-black);

    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 0;
    /*border: 2px solid transparent;*/
}


/*!* The button that contains the search icon*!*/
#top-bar-container > .ant-input-search > .ant-input-group > .ant-input-group-addon > .ant-input-search-button {
    /*border-bottom: 1px solid red;*/
    border: 0;
    color: var(--pink);
    background: var(--dark-black) !important;
    box-shadow: none;
    height: inherit;
}


#top-bar-container > span.ant-input-wrapper.ant-input-group > button.ant-btn.ant-btn-icon-only.ant-btn-loading.ant-input-search-button {
    border: 0;
    box-shadow: none;
    background-color: red;
    height: inherit;
}

#top-bar-container
> .ant-input-search
> .ant-input-group
> .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary).ant-btn-loading::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--dark-black) !important;
    height: inherit;
}
