/*************************************************************/
/********************* Search Bar ***************************/
/********************* Found in header ********************/
#search_input {
    border-bottom: 1px solid red;
    /*padding: 5px;*/
    /*padding-left: 6px;*/
    margin: 0;
    /*border: 2px solid transparent;*/
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    overflow: hidden;
}

/*#search_input:hover{*/
/*    border-left: 2px solid #15B761;*/
/*    border-bottom: 2px solid #15B761;*/
/*    border-top: 2px solid #15B761;*/
/*    border-right: 2px solid transparent;*/
/*}*/

/*!* While the search Input is still with the cursor in it*!*/
/*#search_input:focus{*/
/*    border-left: 2px solid #15B761;*/
/*    border-bottom: 2px solid #15B761;*/
/*    border-top: 2px solid #15B761;*/
/*    border-right: 2px solid transparent;*/
/*}*/


/*#search_input ::selection {*/
/*    color: #fff;*/
/*    background: springgreen;*/
/*}*/


/*#search_input:focus {*/
/*    box-shadow: none;*/
/*}*/


#top_bar > .ant-input-search {
    /*border: 2px solid black;*/
    border: 0;

    width: 18%;
    float: left;
    position: relative;
    margin-left: 2%;

    /* Vertically Aligning it the middle*/
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

span.ant-input-wrapper.ant-input-group {
    /*border: 2px solid black;*/
    border-radius: 1em;
    padding: 2%;
    background-color: #E8E8E9;
}

/*The actual inside of the search
* Color = color of the text when it is being searched
*/
#top_bar > .ant-input-search > .ant-input-group > input.ant-input {
    /*border: 2px solid lightgrey;*/
    border: 0;
    padding: 5px;
    /*border-radius: 15%;*/
    background-color: #E8E8E9;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: right;
    width: 80%;
}

#top_bar > .ant-input-search > .ant-input-group > input.ant-input:focus {
    border: 0;
    box-shadow: none;

}


/*#top_bar > .ant-input-search > .ant-input-group > .ant-input-affix-wrapper {*/
/*    border: 3px solid blue;*/
/*    padding-right: 4px;*/
/*    padding-left: 4px;*/
/*}*/

/*The div that contains the search Button i.e its parent*/
#top_bar > .ant-input-search > .ant-input-group > .ant-input-group-addon {
    /*BORDER: 2PX SOLID YELLOW;*/
    border: 0;
    /*left: 0;*/
    float: left;
    box-shadow: none;
    background: #E8E8E9;

    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 0;
    /*border: 2px solid transparent;*/
}


/*!* The button that contains the search icon*!*/
#top_bar > .ant-input-search > .ant-input-group > .ant-input-group-addon > .ant-input-search-button {
    /*border-bottom: 1px solid red;*/
    border: 0;
    /*border-radius: 12%;*/
    /*--antd-wave-shadow-color: none;*/
    /*color: #5C5C5C;*/
    color: #898D8F;
    background: #E8E8E9 !important;
    box-shadow: none;
}


#top_bar > span.ant-input-wrapper.ant-input-group > button.ant-btn.ant-btn-icon-only.ant-btn-loading.ant-input-search-button {
    border: 0;
    box-shadow: none;
    background-color: red;
}
#top_bar
> .ant-input-search
> .ant-input-group
> .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary).ant-btn-loading::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #E8E8E9 !important;
}
