#profile-card-display-info-container {
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    /*grid-template-columns: repeat(3, auto);*/
    grid-template-columns: 151px max-content max-content;
    grid-template-rows: repeat(2, auto);
    /*border: 1px solid red;*/
    padding: 5%;
    padding-bottom: 2%;
    background: white;
}

#profile-card-image {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 3px solid white;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 50%;
    z-index: 2;
    padding: 0;
    margin-top: -42%;
    height: 150px;
    width: 150px;
    background-color: blue;
}

#profile-card-name {
    /*border: 3px solid green;*/
    width: fit-content;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 2em !important;
    color: black;
    font-weight: 800;
    margin-right: 10%;
    margin-left: 8%;
    font-size: 1.2em;
    align-self: center;
}

.verified-icon {
    /*border: 3px solid red;*/
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 20px;
    width: 20px;
    align-self: center;
    color: #5773FA;
}
