/*************************************************************/
/********************* Sidebar(Left)  ***************************/
#sidebar_div[style] {
    background: var(--dark-black);
    border-right: 1px solid var(--black-border);
    /*width: 168px !important;*/
    /*min-width: 0 !important;*/
    /*max-width: 190px !important;*/
    /*width: 175px !important;*/
    /*min-width: 0 !important;*/
    max-width: 300px !important;
    height: 100vh;
}

#sidebar_menu {
    background: transparent;
    color: white;
    border: 0;
    height: 80%;
    padding: 30px 10px 10px;
    font-weight: 400;
}

.sidebar-icon {
    color: var(--pink);
    height: 24px;
    width: 24px;
}

#sidebar_menu > li {
    width: 100%;
    margin-top: 16px;
    border-radius: 6px;
    height: 45px;
    background: transparent;
    font-weight: 500;
}

/*When a Sidebar Menu item has been selected(clicked on)*/
#sidebar_menu > li.ant-menu-item-selected {
    border: 0;
    background: var(--pink);
    color: white;
    font-weight: 600;
}

/*Side bar icon  of selected page*/
#sidebar_menu > li.ant-menu-item-selected .sidebar-icon {
    color: white;
}

/*When a Sidebar Menu item has been Hovered over*/
#sidebar_menu > li.ant-menu-item-active {
    background: #FF337E;
    color: white;
}

/*Sidebar icon during on hover*/
#sidebar_menu > li.ant-menu-item-active .sidebar-icon {
    color: white;
}


/*Hovering over a menu item that is active or selected*/
#sidebar_menu > li.ant-menu-item-active.ant-menu-item-selected {
    color: white;
    background: var(--pink);
}

/**/
#sidebar_menu > li.ant-menu-item::after {
    border: 0;
    color: white;
}


/* The Collapse/Expand Trigger(arrow) at the Top of the SideBar*/
.ant-layout-sider-trigger[style] {
    /* Positions the Trigger at the top of*/
    bottom: 0;
    background: white;
    color: black;
    width: 80px !important;
    min-width: 0 !important;
    max-width: 160px !important;
}

#outer_layout {
    min-height: 100vh;
    background: black;
}

#logo {
    height: 90px;
    margin: 0;
    background: var(--dark-black);
    background-image: url("../../assets/logos/IDIS_White_Cube.png") !important;
    background-size: cover;
    background-position: center;
    color: black;
}

#logo-image[style] {
    background-size: cover;
}


.ant-layout-sider {
    color: #fff;
    line-height: 120px;
    /*background: #3ba0e9;*/
}

> .code-box-demo > .ant-layout + .ant-layout {
    margin-top: 48px;
}

/*Color of a Menu Item When Selected*/
/*.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {*/
/*    background-color: deeppink;*/
/*}*/

[data-theme="dark"] .ant-layout-sider {
    background: #5773FA;
}

