#manage-models-page-container {
    min-height: 100vh;
    min-width: 100vh;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100%;
    background: var(--light-black);
}

#manage-models-page-content {
    grid-column-start: 2;
    grid-column-end: 3;
    /*border: 3px solid black;*/
    overflow-y: hidden;
    max-height: 100vh;
    padding: 3%;
    background: var(--light-black);
}

#manage-models-card {
    /*border: 3px solid deeppink;*/
    row-gap: 30px;
}

#manage-models-card > .simple-card-title {
    /*border: 3px solid yellow;*/
    font-weight: 600;
    font-size: 32px;
    background: var(--light-black);
    color: var(--pink);
}

#manage-models-card > .simple-card-body {
    /*border: 3px solid blue;*/
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 100%;
    background: var(--light-black);
}

#manage-models-btn-row {
    /*border: 3px solid orange;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
    column-gap: 20px;
}

#manage-models-card-row {
    /*border: 3px solid yellow;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-template-rows: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    column-gap: 30px;
}

#delete-model-popup > .popup-body {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    padding: 0;
    padding-top: 25px;
    overflow: hidden;
    row-gap: 15px;
}

#delete-model-popup-msg {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 15px;
    font-weight: 500;
    color: var(--prussian-blue);

}

#delete-model-popup-btn-yes {
    grid-column-start: 1;
    grid-column-end: 2;
    color: red;
    width: 100%;
    background: white;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    border-bottom-left-radius: 5px;
    border-right: 0.01em solid var(--white-border-color);
}

#delete-model-popup-btn-yes:hover {
    background: red;
    color: white;
}

#delete-model-popup-btn-no {
    font-size: 20px;
    border: 0;
    grid-column-start: 2;
    grid-column-end: 2;
    color: var(--dodger-blue);
    width: 100%;
    background: white;
    font-weight: 500;
    border-bottom-right-radius: 5px;
    border-right: 0.01em solid var(--white-border-color);
    padding: 5px;
}

#delete-model-popup-btn-no:hover {
    background: var(--dodger-blue);
    color: white;
}

#delete-model-popup-btn-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    width: 100%;
    border: 1px solid var(--white-border-color);
}

.add-model-container {
    display: grid;
    row-gap: 25px;
}

.input-container {
    display: flex;
}

.input-container .label {
    background: #bed4ff;
    color: var(--dodger-blue);
    font-weight: 500;
    font-size: 20px;
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid slategrey;
    min-height: 32px;
    max-height: 32px;
    align-content: center;
    align-items: center;
    display: grid;
}

.input-container input {
    /*width: calc(100% - 30px);*/
    /*border: none;*/
    /*background: var(--light-gray);*/
    font-size: 20px;
    font-weight: 500;
    padding: 3px;
    border: 1px solid slategrey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    width: 80%;
    overflow-x: auto;
    min-height: 32px;
    max-height: 32px;
    overflow-y: hidden;
    align-content: center;
    align-items: center;
    display: grid;
}

#upload-training-data-form {
    justify-self: left;
}

#upload-training-data-btn {
    justify-self: left;
    color: white;
    background: var(--dodger-blue);
    border-radius: 5px;
}

#share-model-container {
    display: flex;
    align-items: center;
}

#share-model-id-icon {
    background: #bed4ff;
    color: var(--dodger-blue);
    font-weight: 500;
    font-size: 20px;
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid var(--white-border-color);
    min-height: 40px;
    max-height: 40px;
    align-content: center;
    align-items: center;
    display: grid;
}

#share-model-id-value {
    font-weight: 500;
    padding: 5px;
    border: 1px solid var(--white-border-color);
    border-left-width: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    min-height: 40px;
    max-height: 40px;
    align-content: center;
    align-items: center;
    display: grid;
    font-size: 20px;
    min-width: 300px;
    max-width: 300px;
    width: 80%;
}

/*#share-model-id-value::-webkit-scrollbar {*/
/*    padding: 0 !important;*/
/*    width: 0.1em !important;*/
/*    background: transparent;*/
/*}*/

/*#share-model-id-value::-webkit-scrollbar-track {*/
/*    border-radius: 5px;*/
/*    width: 3px;*/
/*}*/

/*#share-model-id-value ::-webkit-scrollbar-thumb {*/
/*    width: 3px;*/
/*    border-radius: 5px;*/
/*    background: grey;*/
/*}*/

/*#share-model-id-value::-webkit-scrollbar-thumb:active {*/
/*    background: var(--dodger-blue);*/
/*}*/


#share-model-copy-icon {
    min-height: 32px;
    max-height: 32px;
    background: #bed4ff;
    color: #0086b3;
}

#share-model-copy-btn {
    background: #bed4ff;
    color: var(--dodger-blue);
    align-content: center;
    align-items: center;
    display: flex;
    column-gap: 10px;
    font-weight: 600;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 40px;
    max-height: 40px;
    border: 1px solid var(--white-border-color);
    border-left: 0;
    text-align: center;
    overflow: hidden;
    width: 89px;
}

.confirmation-popup > .popup-body > #delete-model-popup-msg {
    padding: 13px;
}







