#manage-models-page-container {
    min-height: 100vh;
    min-width: 100vh;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100%;
}

#manage-models-page-content {
    grid-column-start: 2;
    grid-column-end: 3;
    /*border: 3px solid black;*/
    overflow-y: hidden;
    padding: 3%;
}

#manage-models-card {
    /*border: 3px solid deeppink;*/
}

#manage-models-card > .simple-card-title {
    /*border: 3px solid yellow;*/
    font-weight: 600;
    font-size: 32px;
    color: var(--dodger-blue);
}

#manage-models-card > .simple-card-body {
    /*border: 3px solid blue;*/
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 100%;
}

#manage-models-btn-row {
    /*border: 3px solid orange;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
    column-gap: 20px;
}

#manage-models-card-row {
    /*border: 3px solid yellow;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-template-rows: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    column-gap: 20px;
}

#delete-model-popup > .popup-body {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    align-items: center;
}

#delete-model-popup-msg {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#delete-model-popup-btn-yes {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    color: red;
    width: 100%;
}

#delete-model-popup-btn-no {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    color: blue;
    width: 100%;
}

.input-container{
    display: flex;
}

.input-container .label{
    padding: 10px;
}

.input-container input{
    width: calc( 100% - 30px);
    border:none;
    background: var(--light-gray);
}






