/*******************************************/
/******************Overview*****************/
/*******************************************/
#row-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-rows: 0 auto;
    margin-bottom: 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: 1px solid transparent;
    border-radius: 10px;
}

#row-1:hover {
    border: 1px solid var(--pink);
}

#indicator-card-container {
    display: grid;
    grid-template-columns: 100%; /*2 columns, left column, right column */
    grid-template-rows: 50% 50%; /*1 single row*/
    /*border: 3px solid red;*/
    background: var(--dark-black);
    row-gap: 10px;
}

/*The left side of the overview section*/
#overview-col-left {
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2%;
    background: var(--dark-black);
    /*border: 2px solid var(--black-border);*/
    border-radius: 10px;
    padding: 28px;
    height: max-content;
    /*height: 284px;*/
}

.chart-page-card > .simple-card-title {
    background: var(--dark-black) !important;
    color: white !important;
}

.chart-page-card > .simple-card-body {
    background: var(--dark-black) !important;

}

.chart-page-card > .simple-card-body > .value-with-percent-container > .raw-value {
    color: white;
}

#overview-metric-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: fit-content;
    /*padding: 25px;*/
    /*padding-left: 11px;*/
    /*box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);*/
    border-right: 1px solid var(--black-border);
}

#overview-metric-1 > .simple-card-title {
    padding: 10px;
    padding-left: 0px;
    text-align: left;
}

#overview-metric-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: fit-content;
    /*padding: 25px;*/
    /*padding-left: 11px;*/
    /*box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);*/
    margin: 0;
    border-right: 1px solid var(--black-border);

}

#overview-metric-2 > .simple-card-title {
    padding: 10px;
    padding-left: 0px;
    text-align: left;
}


#overview-metric-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    height: fit-content;
    /*padding: 25px;*/
    /*box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);*/
    border-right: 1px solid var(--black-border);

}

#overview-metric-3 > .simple-card-title {
    padding: 10px;
    padding-left: 0px;
    text-align: left;
}


#overview-metric-4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    height: fit-content;
    /*padding: 25px;*/
    /*box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);*/
    background: var(--dark-black);
}

#overview-metric-4 > .simple-card-title {
    padding: 10px;
    padding-left: 0px;
    text-align: left;
    color: var(--black-border);
}


/*********************************************************/
/**************** Total-Sentiment-Pie *******************/
/*******************************************************/
.pie-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    height: 200px;
    margin: 0;
}

#sum-of-slices {
    grid-row-start: 1;
    grid-row-end: 2;
}


#total-sentiment-pie-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
}

#total-sentiment-pie {
    /*border: 3px solid red;*/
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

#total-sentiment-legend {
    /*border: 3px solid blue;*/
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

