:root {
    /*Overall App*/
    --neon-blue: #5773FA;
    /*--light-gray: #f4f7fc;*/
    --light-gray: #F1F2F8;
    --amount-increasing: #00b074;
    --grey-border-color: #e8e8e9;

    /*******************************/
    /********Profile Page***********/
    /*******************************/
    /*Personal Info Card*/
    --personal-card-bg: #efefef;
    --personal-info-title: #737373;
}
