:root {
    /*Overall App*/
    --neon-blue: #5773FA;
    --light-gray: #f0f2f5;

    /*******************************/
    /********Profile Page***********/
    /*******************************/

    /*Personal Info Card*/
    --personal-card-bg: #efefef;
    --personal-info-title: #737373;
}
