/*
* Chart Page.css
* File contains all css for the chart page and its components?
* NOTE: If a component is too large or requires in-depth styling or can be re-used in other pages
    best to give that component its own file.
*/

#top_bar {
    background: #ffffff;
    color: #000000;
    height: 89px;
    /*padding: 0 1%;*/
    padding: 0;
    margin: 0;
    /*border: 3px solid red;*/
    /*border: 0;*/
}

/*
*
*/
#content_section {
    padding: 5%;
    background: #ffffff;
    color: #000000;
    /*height: 206px;*/
    border: 3px solid blue;

    /*Scrolling Functionality*/
    max-height: 100vh;
    overflow-y: scroll;

}


/* The div Div that Stores/contains everything on the right of the sidebar
* Includes the Header, Content Section and Footer (if present)

*/

#inner_layout_div {
    /*border: 3px solid green;*/
}

/*The div that Stores/Contains EVERYTHING inside it*/
#outer_layout {
    /*border:3px solid purple;*/
    min-height: 100vh;
    max-height: 100vh;

    /*
    * We dont want the Entire Outer div to overflow.*
    * We want The sidebar to have its 'own' overflow
    * and the content section to have its 'own' overflow
    */
    /*overflow:hidden*/
}

#map_card_content_layout_div {
    border: 3px solid black;
}






