/*
* The Div that contains the detail card
* The '[style]' + '!important' is used to overwrite the default inline styling
  used by antd.css
* This hack can be used in other places as well where inline css needs to be overwritten
*NB!! The '[style]' and the '!important' must be used together to override the inline styling
*/
#map_card_sidebar[style] {
    border: 3px solid red;
    background: white;
    margin-left: 5%;

    /*Overwritting the default inline styline*/
    flex: 0 1 !important;
    max-width: 100% !important;
    /* Only way to change the size of the details card*/
    min-width: 29% !important;

    /*width: 35% !important; */

}