#network_graph_layout_div{
    border: 3px solid black;
    margin-top: 3%;
}

#network_graph_card_content{
    border: 3px solid yellow;
}

/*The Cytoscape object that holds the network graph */
#cy{
    border: 3px solid blue;
}

#n0{
    background-color: red;
}