.uber-bar-graph-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    /*border: 3px solid red;*/
}

.bar-graph-statistic {
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: left;
}

.bar-graph-plot {
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: center;
    justify-self: center;
}
