#register_card {
    border: 3px solid deeppink;
    /* align-self: center; */

    /*Aligning it Horizontally in the Center*/
    width: 50%;
    /*max-width: 300px;*/

    /* Aligning it Vertically in the center  */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.login_button {
    background: deeppink;
    border-color: deeppink;
    width: 100%;
}

.forgot_password_link {
    color: deeppink;
    float: none;
}

/*The  Lines in between the word OR*/
.ant-divider-horizontal.ant-divider-with-text {
    display: flex;
    margin: 16px 0;
    color: black;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: rgb(0 0 0);
}

.register_link {
    color: deeppink;
    float: right;
}

/* The root div. Its encompasses all the elements/components */
#root {
    border: 3px solid red;
    height: 100vh;
    position: relative;
    margin:auto;
    /*width: 100vw;*/
    background: white;
}

.forgot_password_link_container > .ant-form-item-control > .ant-form-item-control-input
> .ant-form-item-control-input-content{
    text-align: center;
}


