#upload-btn {
    display: grid;
    grid-template-columns: 20px auto;
    grid-template-rows: 100%;
    height: 50px;
    width: 160px;
    color: white;
    justify-self: right;

}

#upload-btn:hover {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#upload-btn-logo {
    width: 22px;
    height: 22px;
}
