.popup-container {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    position: absolute;
    z-index: 9999;
    background: rgba(8, 10, 13, 0.5);
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.popup-div {
    background: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    min-width: 400px;

    /*top right bottom left */
    /*padding: 15px 15px 15px 15px;*/
    border-radius: 5px;
    max-height: 600px;
    overflow-y: hidden;

}

.popup-title-bar {
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 100%;
    padding: 25px;
    padding-bottom: 5px;
}

.popup-body {
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: scroll;
    max-height: 500px;
    padding: 25px;
}

/*
*Customizing The Scrollbar
*
 */
.popup-body::-webkit-scrollbar {
    width: 7px;
    background-color: white;
}

.popup-body::-webkit-scrollbar-track {
    border-radius: 10px;
    color: red;

}

.popup-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray;
}

.popup-body::-webkit-scrollbar-thumb:active {
    background: var(--dodger-blue);
}


.popup-close-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-self: right;
    font-weight: 500;
    font-size: 24px;
    border: 0;
    background: white;
    color: var(--prussian-blue);
}

.popup-close-btn:hover {
    color: var(--dodger-blue);
}

.popup-title {
    font-weight: 600;
    color: var(--prussian-blue);
    font-size: 24px;
}




