#upload-card {
    /*border: 3px solid red;*/
    margin-bottom: 0 !important;
    /*max-width: 400px;*/
    grid-template-rows: 0 auto !important;
    width: 100%;
}

#upload-card > .simple-card-title {
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    /*padding: 25px;*/
    background: var(--light-black);
}

#upload-card > .simple-card-body {
    background: var(--light-black);
    /*padding: 25px;*/
    /*border-radius: 10px;*/
    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    grid-template-rows: repeat(2, auto) !important;
    row-gap: 30px !important;
}

.dropzone {
    border-style: dashed;
    border-width: 2px;
    /*border-color: #339CFF;*/
    border-color: var(--pink);
    background: rgba(232, 0, 87, 0.19);
    border-radius: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
    max-width: inherit;
}

#dropzone-content-div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    align-items: center;
    justify-items: center;
    row-gap: 15px;
    padding: 20px;
}

#file-icon {
    width: 50px;
    height: 50px;
    color: var(--pink);
}

#browse-files-btn {
    width: max-content;
    height: 30px;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    display: grid;
    align-content: center;
    background: var(--pink);
    border: var(--pink);
    color: white;
}

#browse-files-btn:hover {
    background: var(--dark-pink);
}

#upload-instr-p {
    font-weight: 500;
    color: white;
    width: 70%;
    text-align: center;
}

#upload-preview-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 100%;
}

.file-preview-item {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, auto);
    /*border: 3px solid red;*/
    background: #C6F6D5;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    color: green;
    font-weight: 500;
    max-width: 360px;

}

.file-preview-csv-icon {
    height: 32px;
    width: 32px;
    color: green;
}

.file-preview-name {
    width: 95% !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
