/*************************************************************/
/********************* User Avatar  Card ***************************/
/************Found in the Bottom Left corner********************/

/* The div that holds the entire user_avatar card*/
#user_avatar_card {
    /*bottom: -50vh;*/
    bottom:0;
    height: 10%;
    /* color: black; */
    /*background: #15B761;*/
    background: transparent;
    /*border: 0;*/
    border: 2px solid yellow;
    /*margin-left: 8px;*/
    /*margin-right: 8px;*/
    /*border-radius: 6px;*/

}

#user_avatar_card > .ant-card-body {
    padding: 0;
    border: 0;
    border-radius: 6px;
    background: transparent;
}

#user_avatar_pic {
    /*border: 2px solid black;*/
    color: white;
    background: orange;
    float: right;
    width: 39px;
    height: 39px;
    line-height: 1.5715;
    font-size: 16px;
    border-radius: 100%;
    margin-left: 4px;
}

#meta_id {
     border: 2px solid purple;
    /*border: 0;*/
    float: right;
    /*width: 78%;*/
    /*height: 100%;*/
    background: #04aa6d00;

}

.ant-card-meta {
    /*border: 2px solid blue;*/
    margin: 0;
    background: transparent;
    border: 0;

}

/*The div wrapping the users avatar*/
#meta_id > .ant-card-meta-avatar {
    float: left;
    padding-right: 0;
    padding-left: 0;
    margin-top: 18px;
    background: transparent;
    border: 0;
}

/*The div for the users Name and a description*/
#meta_id > .ant-card-meta-detail {
    float: left;
    justify-content: left;
    /*margin-top: 19px;*/
    background: transparent;
    border: 0;

}

/*The users' Name*/
#meta_id > .ant-card-meta-detail > .ant-card-meta-title {
    color: white;
    border: 0;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 25px;
    background: transparent;
    border: 0;

}

/*The grey out section underneath the name*/
#meta_id > .ant-card-meta-detail > .ant-card-meta-description {
    font-size: 11px;
    height: 17px;
    width: 12px;
    color: #9c9494;
    background: transparent;
}

/*The ellipsis button*/
#exit_menu_button {
    /*border: 1px solid green;*/
    border: 0;
    font-size: 0;
    float: right;
    /*transform: rotate(*/
    /*        90deg*/
    /*);*/
    margin-top: 24px;
    width: 31px;
    height: 23px;
    padding: 0;
    background: transparent;
}

#exit_menu_button > .exit_menu_ellipsis_icon > svg {
    color: white;
    background: transparent;
}


