/* the parent div of the entire map card
    its child is the map card
*/
#map_card {
    /*border: 3px solid green;*/
    border: 0;
    height: 100%;
    /*width: 700px;*/
    /*width: 100%;*/
    padding: 0;
    margin: 0;
}

/* The div contains the Actual Map component */
#map_container_div {
    height: 300px;
    /*height: 100%;*/
    width: 70%;
    /*border: 3px solid yellow;*/
    border: 0;
    padding: 0;
    float: left
}

/*
* The body of the Map Card
* Map Card = Green Border
*/
#map_card > .ant-card-body {
    padding: 0;
}


/*The circle that has been clicked*/
.chosen_circle{
    fill: red;
    fill-opacity: 1;
    animation: chosenCircleExpandShrink infinite 2s;
}

/*The beeping animation when a circle has clicked*/
@keyframes chosenCircleExpandShrink {
    0%{
        stroke-width: 0.5em;
    }

    50%{
        stroke-width: 1em;
    }

}


/**/
div.leaflet-top.leaflet-left,
> div.geocoder-control.leaflet-control.geocoder-control-expanded,
> div.geocoder-control-suggestions.leaflet-bar[style]{
    border:  3px solid red !important;
}


