#map-card {
    width: 65%;
    padding: 0;
    float: left;
}

#map-card
> div.ant-card-head
> div.ant-card-head-wrapper
> div.ant-card-head-title {
    color: #5C5C5C;
    font-weight: 800;
}

#map-card > div.ant-card-head {
    border: 0;
    background: white;
    /*padding: 0;*/
}

#map-card > div.ant-card-body {
    padding: 1%;
    border: 0;
    /*border-radius: 2%;*/
    /*border:2px solid orange;*/
    background: white;
}


/* the parent div of the entire map card
    its child is the map card
*/
#map_card {
    border: 3px solid green;
    /*border: 0;*/
    height: 100%;
    /*width: 700px;*/
    /*width: 100%;*/
    padding: 0;
    margin: 0;
}

/* The div contains the Actual Map component */
#map_container_div {
    height: 300px;
    /*height: 100%;*/
    width: 100%;
    /*border: 3px solid yellow;*/
    /*border: 0;*/
    padding: 0;
    float: left;
    position: relative;
    margin-right: 1%;
    /*border-top-left-radius: 3%;*/
    /*border-bottom-left-radius: 3%;*/
    border-radius: 1.5%;
}

/*
* The body of the Map Card
*/
#map_card > .ant-card-body {
    padding: 0;
}


/*The circle that has been clicked*/
.chosen_circle {
    fill: red;
    fill-opacity: 1;
    animation: chosenCircleExpandShrink infinite 2s;
}

/*The beeping animation when a circle has clicked*/
@keyframes chosenCircleExpandShrink {
    0% {
        stroke-width: 0.5em;
    }

    50% {
        stroke-width: 1em;
    }

}


#top-country-indicator-card {
    /*border: 3px solid red;*/
    width: 30%;
    float: left;
    position: relative;
}
