/*************************************************************/
/********************* User Avatar  Card ***************************/
/************Found in the Bottom Left corner********************/

/* The div that holds the entire user_avatar card*/
#user_avatar_card {
    /*float: right;*/
    /*height: 100%;*/
    width: 90%;
    border: 1px solid transparent;
    padding: 10px;
    background: var(--light-black);
    /*margin-left: 8px;*/
    color: white;
    display: grid;
    justify-items: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 6px;
    margin: auto;
}

#user_avatar_card > .ant-card-body {
    padding: 0;
    border: 0;
    border-radius: 6px;
    background: transparent;


    /*border: 3px solid black;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(2, min-content);*/
    /*grid-template-rows: 100%;*/
}

#user_avatar_pic {
    /*border: 2px solid black;*/
    color: white;
    background: orange;
    float: right;
    width: 39px;
    height: 39px;
    line-height: 1.5715;
    font-size: 16px;
    border-radius: 100%;
    margin-left: 4px;
}

#meta_id {
    /*border: 2px solid purple;*/
    /*border: 0;*/
    float: right;
    text-transform: capitalize;
    font-weight: 600;
    /*width: 78%;*/
    /*height: 100%;*/
    background: #04aa6d00;


    grid-column-start: 1;
    grid-column-end: 2;

}

.ant-card-meta {
    /*border: 2px solid blue;*/
    margin: 0;
    background: transparent;
    border: 0;

}

/*The div wrapping the users avatar*/
#meta_id > .ant-card-meta-avatar {
    float: right;
    padding-right: 0;
    padding-left: 0;
    margin-top: 18px;
    background: transparent;
    border: 0;
}

/*The div for the users Name and a description*/
#meta_id > .ant-card-meta-detail {
    float: left;
    justify-content: left;
    /*margin-top: 19px;*/
    background: transparent;
    border: 0;
}

/*The users' Name
* AKA the title in the JS code
*/
#meta_id > .ant-card-meta-detail > .ant-card-meta-title {
    color: white;
    border: 0;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    text-overflow: ellipsis;
    /*margin-top: 25px;*/
    /*background: black;*/

}

/*The grey out section underneath the name*/
#meta_id > .ant-card-meta-detail > .ant-card-meta-description {
    font-size: 11px;
    height: 17px;
    width: 12px;
    color: #9c9494;
    background: transparent;
}

/*The DROP Down button*/
#exit_menu_button {
    /*border: 1px solid green;*/
    border: 0;
    box-shadow: none;
    font-size: 0;
    float: right;
    /*transform: rotate(*/
    /*        45deg*/
    /*);*/
    /*margin-top: 24px;*/
    width: 31px;
    height: 23px;
    padding: 0;
    background: transparent;
    color: black;

    /*grid-column-start: 2;*/
    /*grid-column-end: 3;*/
}

/*The actual Image Icon
* Currently its a ">" icon facing downwards i.e a down error
*/
#exit_menu_button > .exit_menu_ellipsis_icon > svg {
    color: black;
    background: transparent;
}

/*When you hover over the Downward arrow icon change color*/
#exit_menu_button > .exit_menu_ellipsis_icon > svg:hover {
    color: var(--pink);
    background: transparent;
}

/*When you Click on the Downward arrow icon change color*/
button#exit_menu_button.ant-btn.ant-btn-icon-only.ant-dropdown-trigger.ant-dropdown-open >
span.anticon.anticon-caret-up.exit_menu_ellipsis_icon > svg {
    color: #000000;
    background: transparent;
}





