.source-form .row{
    display: grid;
    grid-template-columns: 40% 60%;
    background: none;
}

.source-form{
    display: grid;
    grid-row-gap: 10px;
}

.source-form .row.with-icon{
    grid-template-columns: 40% 59% 1%;

}

.source-form .row .col.left input[type=text]{
    background: none;
    border: none;
    cursor: default;
    color: white;
    text-transform: capitalize;
}

.source-form .row .col.right input[type=text]{
    background: var(--dark-black);
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
}

.source-form .row .col.right input[type=text]:focus-visible{
    outline: none;
    border-color: var(--pink);
}

.source-form .row .col select{
    background: var(--dark-black);
    border: 1px solid var(--pink);
    border-radius: 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
}


.source-form .row .col input{
    padding: 8px;
}

.source-form .button-container{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}


.source-form .button-container .submit:hover{
    color: var(--pink);
}

.source-form .button-container .btn-primary{
    color: white;
    background: var(--pink);
    border: none;
}

.source-form .button-container .btn-primary:hover{
    background: #E13475;
}

.reports-content-section .simple-btn{
    margin-bottom: 40px;
}