
.data-source{
    border:none;
    /* align-self: center; */

    /*Aligning it Horizontally in the Center*/
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    /*border: 1px solid red;*/
    padding: 30px;

    /* Aligning it Vertically in the center  */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
}
.data-source div.row{
    display:grid;
    grid-template-columns: repeat(21,1fr);
    /*grid-gap: 10px;*/
    padding-left: 20px;
    padding-right: 20px;
    line-height: normal;
    padding-bottom: 0;
}

.data-source div.col.left{
    grid-column: 1/6;
}

.data-source div.col.left input{
    font-weight: 600;
}
.data-source div.col.right{
    grid-column: 6/21;
}
.data-source div.col{
    padding: 5px 10px;
}

.data-source div.col input{
    width: 100%;
    padding: 5px;
    color: black;
    background: #EFF0F0;
    border: 1px solid #E8E8E9;
    border-radius: 5px;

}

.data-source div.col.disabled input{
    width: 100%;
    padding: 10px;
    color: black;
    background: none;
    border: none;
    font-size: 14px;
    text-transform: capitalize;

}

.data-source div.col input:focus{
    border: 1px solid #5773FA;
}

.data-source form{
    display: flow-root;
    line-height: normal;
}

.data-source .row .close-button{
    background: none;
    border: none;
    line-height: normal;
    margin: 10px;
    color: #FF0800;
    font-weight: 600;
    font-size: 20px;
    align-content: center;
    text-align: center;
}


.data-source form .btn-primary{
    line-height: normal;
    margin-left: 30px;
    padding: 10px;
    font-weight: 600;
    background: #5773FA;
    border: #5773FA;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.data-source form .btn.submit{
    float: right;
    margin-right: 9%;
}

.data-source .row .back-button{
    grid-column: 20/21;

}
.data-source .btn{
    border-width: 1px;
    color: white;
}

.data-source form .select{
    background: #5773FA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    font-weight: 600;
    width: 120px;
}

.data-source .btn:hover{
    transition: ease-in-out .5s;
    color: black;
}

.data-source .btn.submit:hover{
    background:#1C8EFA;
    color: black;
    border-color: #FF0800;
    transition: ease-in-out .5s;
}

.data-source .select:hover{
    color: black;
}

