#profile-page-container {
    /*border: 3px solid black;*/
    border: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  auto auto auto auto auto auto;
}

.right-column {
    /*border: 3px solid yellow;*/
    /*border:0 !important;*/
    padding-left: 30px !important;
}

.component-title {
    padding-left: 0 !important;
}
