#profile-page-container{
/*background: var(--profile-background);*/
    padding-left: 30px;
    padding-right: 30px;
}

#profile-page-container form{
    line-height: normal;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#profile-page-container form .heading{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    padding-top: 20px;
    color: var(--pink);
}

.profile-pag .report-content-section .content-page-title{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


#profile-page-container form .ant-divider{
    border-color: white;
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
}

#profile-page-container form label{
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    margin-left: 10px;
    /*padding: 30px 0;*/
    /*font-size: ;*/
}

#profile-page-container form input[type=text] {
    background: var(--dark-black);
    /*padding: 5px;*/
    color: white;
    border-radius: 5px;
    width: 100%;
    border: 1px solid transparent;
    /*margin: 8px 0;*/
    max-width: 800px;
    display: block;
}



#profile-page-container form input:focus-visible{
    outline:none;
    border-color: var(--pink);
}


#profile-page-container form .ant-checkbox-wrapper{
    margin: 10px;
}

#profile-page-container form .ant-checkbox-wrapper span{
    text-transform: uppercase;
}

#profile-page-container form .ant-checkbox-inner{
    text-transform: uppercase;
}

input[type="checkbox"].switch_1{
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 16px;
    background: var(--grey-border-color);
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
}

input[type="checkbox"].switch_1:checked{
    background: var(--pink);
}

input[type="checkbox"].switch_1:after{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    left: 0;

}

input[type="checkbox"].switch_1:checked:after{
    left: calc(100% - 16px);
}

div.switch_box.box_1>label.field-name#admin-label{

    text-transform: capitalize;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

div.switch_box{
    margin: 20px 20px;
    cursor: pointer;
}

#profile-page-container form>div>button{
    background: var(--pink);
    border-color: var(--pink);
    color: white;
    /*padding: 10px 15px;*/
    /*margin: 10px 20px;*/
    text-transform: capitalize;
    float: right;
}

