/******************
* The Header Component as denoted by <Header>
*
*
*
*
*
*
*
******************************/
@import '~antd/dist/antd.css';


.ant-layout-header {
    background: #E2DFDF;
    color: #000000;
    height: 206px;
    /*padding: 0 1%;*/
    /*border: 1px solid red;*/
}

.content-wrapper {
    /*border: 3px solid red;*/
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}


.code-box-demo {
    text-align: center;
}


[data-theme="dark"] .ant-layout-header {
    background: #6aa0c7;
}


> .code-box-demo > .ant-layout + .ant-layout {
    margin-top: 48px;
}
