@import '~antd/dist/antd.css';

/******************
* The Content Component as denoted by <Content> tag
*
*
*
*
*
*
*
******************************/

.ant-layout-content {
    min-height: 120px;
    color: #fff;
    line-height: 120px;
    background: white;
}

[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}